


<form asp-controller="home" asp-action="sort">

    <h2>Input Numbers Below</h2>
    <input name="numberList" type="text" placeholder="15 12 10" />

    <select name="sortByAscending">
        <option value="true">Sort by ascending</option>
        <option value="false">Sort by descending</option>
    </select>

    <input type="submit" value="Press to sort" />


    <h2>Output goes here</h2>
    <p>Time Taken:</p>
    <p>Sorted List: </p>

    <h2>Save?</h2>
    <input type="button" value="Save" />



</form>

