@model CSIMediaTest.Data.Models.SortedNumbers;

<header>

    <div class="row toast-header mb-4">

        <h1>CSI Media Technical Test</h1>

    </div>

</header>

<form asp-controller="home" asp-action="sort" class="mb-4">

    <h4>Input Numbers Below</h4>
    <input name="numberListString" class="col-3" type="text" placeholder="15 12 10" />

    <select name="sortByAscending">
        <option value="true">Sort by ascending</option>
        <option value="false">Sort by descending</option>
    </select>

    <input type="submit" value="Press to sort" />

</form>


@if (Model != null)
{

    <h4>Results</h4>
    <p>Time Taken: @Model.TimeTakenToSort</p>
    <p>Sorted List:
        @Model.Numbers;
    </p>

    <form asp-controller="home" asp-action="DownloadSortedList" >

        <input type="hidden" name="listId" value="@Model.Id">
        <input type="submit" value="Download Result" />

    </form>


}